.nav {
  position: relative;
}
.ul-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li-1 {
  float: left;
}

.a-1 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.a-1:hover {
  color: black;
  background-color: aqua;
  border-radius: 30px;
}
